html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	height:1300;
}
body {
	padding-top: 40px;
	padding-bottom: 100px;
	background-color: #E8F9FC;
	margin: 5px auto;
	height:1550;
	color:#636161;
	
}
/* admin.jsp */
 #content {
	float: center;
    margin-top: 50px;
    margin-left: 130px;
    margin-right: 100px;
     background-color: #FFF;
    border: 1px solid #DDD;
	background-color: #eee;
	background-image: -moz-linear-gradient(#fff,#eee);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
	background-image: -webkit-linear-gradient(#fff, #eee);
	background-image: -o-linear-gradient(#fff, #eee);
	background-image: -ms-linear-gradient(#fff, #eee);
	background-image: linear-gradient(#fff, #eee);
	color:#636161;
	border-radius: 15px;
	border-width: 1px 1px 1px 1px;
	height: 350px;
	width:1050px;
	
}
#admintable{
	/* margin-top: 30px; */
	height: 350px;
	width:1050px;
	border-radius: 15px;
	/* background-color: #FFF; */
    border: 1px solid #DDD;
    border-color:#ddd;
    background-color: #eee;
	background-image: -moz-linear-gradient(#fff,#eee);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
	background-image: -webkit-linear-gradient(#fff, #eee);
	background-image: -o-linear-gradient(#fff, #eee);
	background-image: -ms-linear-gradient(#fff, #eee);
	background-image: linear-gradient(#fff, #eee);
	color:#636161;
    /* border-spacing: 15px; */
    border-collapse: separate;
    table-layout: fixed;
    /* empty-cells: show; */
    
	
}
#thadmin{
	text-align: left; /* ¬ыравнивание по левому краю */
    background: #fff; /* ÷вет фона €чеек */
    padding: 5px; /* ѕол€ вокруг содержимого €чеек */
    border: 1px solid #ddd; /* √раница вокруг €чеек */
    border-color:#ddd;
    background-color: #eee;
	background-image: -moz-linear-gradient(#fff,#eee);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
	background-image: -webkit-linear-gradient(#fff, #eee);
	background-image: -o-linear-gradient(#fff, #eee);
	background-image: -ms-linear-gradient(#fff, #eee);
	background-image: linear-gradient(#fff, #eee);
	color:#636161;
}
#mybuttonadmin{
	font-size: 17px;
	
}
.container-fluid {
	padding-right: 20px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
}
.navbar-default .navbar-brand {
    color: #FCFCFC;
    }
.navbar-brand {
	float: left;
	height: 60px;
	width:70px;
	padding: 15px 15px;
	margin-right:25px;
	font-size: 35px;
	line-height:30px;
	font-weight:bolder;
	/* font-style:oblique; */
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#header {
	background-color: #5bc0de;
	border: 0px;
	text-align: center;
	
}
#gmail{
    color: #1379B0;
    /* text-decoration: none; */
    text-align: right
 }
.text-right gmail{
	color:#1379B0; 
	opacity:1;
	/* vertical-align: middle; */
	text-align: right
	
}
#footer {
	/* opacity:0.4; 
	background: #5bc0de; */
	color: #1379B0;
	/* text-align: center; */
	/* vertical-align: middle; */
	background: -moz-linear-gradient(left, rgba(183,222,237,0.65) 2%, rgba(183,222,237,0.53) 26%, rgba(113,206,239,0.42) 48%, rgba(33,180,226,0.25) 82%, rgba(175,220,236,0.16) 99%, rgba(183,222,237,0.16) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(2%,rgba(183,222,237,0.65)), color-stop(26%,rgba(183,222,237,0.53)), color-stop(48%,rgba(113,206,239,0.42)), color-stop(82%,rgba(33,180,226,0.25)), color-stop(99%,rgba(175,220,236,0.16)), color-stop(100%,rgba(183,222,237,0.16))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(183,222,237,0.65) 2%,rgba(183,222,237,0.53) 26%,rgba(113,206,239,0.42) 48%,rgba(33,180,226,0.25) 82%,rgba(175,220,236,0.16) 99%,rgba(183,222,237,0.16) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(183,222,237,0.65) 2%,rgba(183,222,237,0.53) 26%,rgba(113,206,239,0.42) 48%,rgba(33,180,226,0.25) 82%,rgba(175,220,236,0.16) 99%,rgba(183,222,237,0.16) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(183,222,237,0.65) 2%,rgba(183,222,237,0.53) 26%,rgba(113,206,239,0.42) 48%,rgba(33,180,226,0.25) 82%,rgba(175,220,236,0.16) 99%,rgba(183,222,237,0.16) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(183,222,237,0.65) 2%,rgba(183,222,237,0.53) 26%,rgba(113,206,239,0.42) 48%,rgba(33,180,226,0.25) 82%,rgba(175,220,236,0.16) 99%,rgba(183,222,237,0.16) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6b7deed', endColorstr='#29b7deed',GradientType=1 ); /* IE6-9 */;
}

ul .btn {
	margin: 10px;
	margin-right: 10px;
}

.navbar .nav>a {
	float: none;
	line-height: 19px;
	font: 16px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	color: #fff;
}
.modal.in .modal-dialog{
	background: black;
	color:#55B04F;
}
.modal-title{
	color:#3040F9;
}
.modal-body{
	background: #F4F8CC;
}
	

