 
/* ---------Event details-------------- */
#event-details {
	margin: 15px auto;
	text-align: center;
	
	/*width: 1114px; /* total computed width = 222 x 3 + 226  for 4 plans in row*/
	width: 892px;  /*computed width = 222 x 3 + 226 */
}
.btn btn-success{
	color:#0D0C0C;
}
#event-details .event {
	font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
	text-shadow: 0 1px rgba(255,255,255,.8);        
	background: #fff;      
	border: 1px solid #ddd;
	color: #333;
	padding: 20px;
	width: 880px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */      
	float: left;
	position: relative;
	border-radius: 30px; 
	
}
#event-table.clear{
	 width: 1095px;
	 margin-bottom:80px;
	padding-botoom:80px;
	height:20px;
}
#event-table.clear .plan  h3, #event-table.clear .noplan h3 {
	font-size: 20px;
	font-weight: normal;
	heiht: 174 px;
	padding: 20px;
	margin: -20px -20px 50px -20px;
	background-color: #fff;
	background-image: -moz-linear-gradient(#fff,#eee);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
	background-image: -webkit-linear-gradient(#fff, #eee);
	background-image: -o-linear-gradient(#fff, #eee);
	background-image: -ms-linear-gradient(#fff, #eee);
	background-image: linear-gradient(#fff, #eee);
	border-top-left-radius: 20px;
    border-top-right-radius: 20px;  
}

#event-details h3 span {
	display: block;
	font: bold 25px/100px Georgia, Serif;
	color: #777;
	background: #fff;
	border: 5px solid #fff;
	height: 100px;
	width: 100px;
	margin: 10px auto -65px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	-moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	-webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

#event-details ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}

#event-details li {
	border-top:solid #ddd;
	padding: 10px 0;
}

/* ----------Main block--------- */
#event-table {
	margin: 15px auto;
	text-align: center;
	
/* 	margin-bottom:80px; */
	/* padding-top:80px; */
	/*width: 1114px; /* total computed width = 222 x 4 + 226  for 4 plans in row*/
	 width: 1006px; total /*computed width = 222 x 3 + 226 */
}
#event-table.clear .plan h3{
	
}
#event-table .plan {
	font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
	text-shadow: 0 1px rgba(255,255,255,.8);        
	background: #fff; 
	color: #333;
	padding: 20px;
	width: 210px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */   
	heiht: 400px; 
	float: left;
	position: relative;
	border-color:#B9DBE5;
	border-style: solid;
    border-radius: 20px;
    height:421px;
    
}
#event-table .noplan {
	font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
	text-shadow: 0 1px rgba(255,255,255,.8);        
	background: #F8FAD7;
	color: #333; 
	padding: 20px;
	width: 210px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */      
	float: left;
	position: relative;
	border-color:#F3F6BD;     
	border-style: solid;
   	border-radius: 20px;
   	height:421px;

}

#event-table #most-popular {
	z-index: 2;
	top: -13px;
	border-width: 3px;
	padding: 30px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);    
}


/* --------------- */	

#event-table h3 {
	font-size: 30px;
	font-weight: normal;
	padding: 20px;
	margin: -20px -20px 50px -20px;
	background-color: #eee;
	background-image: -moz-linear-gradient(#fff,#eee);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
	background-image: -webkit-linear-gradient(#fff, #eee);
	background-image: -o-linear-gradient(#fff, #eee);
	background-image: -ms-linear-gradient(#fff, #eee);
	background-image: linear-gradient(#fff, #eee);
}

a:link.event-name{
	color: #6A81EB;
	text-decoration: none;
}
a:hover.event-name{
	color: #714C7D;
	text-decoration: none;
}
a:visited.event-name{
	color: #1379B0;
	text-decoration: none;
}
a:visited:hover.event-name{
	color: #234C78;
	text-decoration: none;
}



#event-table #most-popular h3 {
	background-color: #ddd;
	background-image: -moz-linear-gradient(#eee,#ddd);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));    
	background-image: -webkit-linear-gradient(#eee, #ddd);
	background-image: -o-linear-gradient(#eee, #ddd);
	background-image: -ms-linear-gradient(#eee, #ddd);
	background-image: linear-gradient(#eee, #ddd);
	margin-top: -30px;
	padding-top: 30px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0; 		
}

#event-table h3 span {
	display: block;
	font: bold 25px/100px Georgia, Serif;
	color: #777;
	background: #fff;
	border: 5px solid #fff;
	height: 100px;
	width: 100px;
	margin: 10px auto -65px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	-moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	-webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

/* --------------- */

#event-table ul {
	margin: 15px 0 0 0;
	padding: 0;
	list-style: none;
}

#event-table li {
	border-top: 1px solid #ddd;
	padding: 10px 0;
}

/* --------------- */
	
#event-table .signup {
	position: relative;
	padding: 8px 20px;
	margin: 20px 0 0 0;  
	color: #fff;
	font: bold 14px Arial, Helvetica;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;       
	background-color: #72ce3f;
	background-image: -moz-linear-gradient(#72ce3f, #62bc30);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#72ce3f), to(#62bc30));    
	background-image: -webkit-linear-gradient(#72ce3f, #62bc30);
	background-image: -o-linear-gradient(#72ce3f, #62bc30);
	background-image: -ms-linear-gradient(#72ce3f, #62bc30);
	background-image: linear-gradient(#72ce3f, #62bc30);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;     
	text-shadow: 0 1px 0 rgba(0,0,0,.3);        
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
}

#event-table .signup:hover {
	background-color: #62bc30;
	background-image: -moz-linear-gradient(#62bc30, #72ce3f);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#62bc30), to(#72ce3f));      
	background-image: -webkit-linear-gradient(#62bc30, #72ce3f);
	background-image: -o-linear-gradient(#62bc30, #72ce3f);
	background-image: -ms-linear-gradient(#62bc30, #72ce3f);
	background-image: linear-gradient(#62bc30, #72ce3f); 
}

#event-table .signup:active, #event-table .signup:focus {
	background: #62bc30;       
	top: 2px;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset; 
}
#event-table .remove {
	position: relative;
	padding: 8px 20px;
	margin: 20px 0 0 0;  
	color: #fff;
	font: bold 14px Arial, Helvetica;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;       
	background-color: #FA1616;
	background-image: -moz-linear-gradient(#EBB7DE, #FA1616);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EBB7DE), to(#FA1616));    
	background-image: -webkit-linear-gradient(#EBB7DE, #FA1616);
	background-image: -o-linear-gradient(#EBB7DE, #FA1616);
	background-image: -ms-linear-gradient(#EBB7DE, #FA1616);
	background-image: linear-gradient(#EBB7DE, #FA1616);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;     
	text-shadow: 0 1px 0 rgba(0,0,0,.3);        
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
}

#event-table .remove:hover {
	background-color: #FA1616;
	background-image: -moz-linear-gradient(#62bc30, #72ce3f);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FA1616), to(#EBB7DE));      
	background-image: -webkit-linear-gradient(#FA1616, #EBB7DE);
	background-image: -o-linear-gradient(#FA1616, #EBB7DE);
	background-image: -ms-linear-gradient(#FA1616, #EBB7DE);
	background-image: linear-gradient(#FA1616, #EBB7DE); 
}

#event-table .remove:active, #event-table .remove:focus {
	background: #FA1616;       
	top: 2px;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset; 
}

#event-table .signout {
	position: relative;
	padding: 8px 20px;
	margin: 20px 0 0 0;  
	color: #fff;
	font: bold 14px Arial, Helvetica;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;       
	background-color: #F5A2C9;
	background-image: -moz-linear-gradient(#EBB7DE, #F5A2C9);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EBB7DE), to(#F5A2C9));    
	background-image: -webkit-linear-gradient(#EBB7DE, #F5A2C9);
	background-image: -o-linear-gradient(#EBB7DE, #F5A2C9);
	background-image: -ms-linear-gradient(#EBB7DE, #F5A2C9);
	background-image: linear-gradient(#EBB7DE, #F5A2C9);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;     
	text-shadow: 0 1px 0 rgba(0,0,0,.3);        
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
}

#event-table .signout:hover {
	background-color: #FA1616;
	background-image: -moz-linear-gradient(#F5A2C9, #72ce3f);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F5A2C9), to(#EBB7DE));      
	background-image: -webkit-linear-gradient(#F5A2C9, #EBB7DE);
	background-image: -o-linear-gradient(#F5A2C9, #EBB7DE);
	background-image: -ms-linear-gradient(#F5A2C9, #EBB7DE);
	background-image: linear-gradient(#F5A2C9, #EBB7DE); 
}

#event-table .signout:active, #event-table .signout:focus {
	background: #FA1616;       
	top: 2px;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset; 
}

#event-table .finished {
	position: relative;
	padding: 8px 20px;
	margin: 20px 0 0 0;  
	color: #fff;
	font: bold 14px Arial, Helvetica;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;       
	background-color: #FA2D2D;
	background-image: -moz-linear-gradient(#EBB7DE, #FA2D2D);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EBB7DE), to(#FA2D2D));    
	background-image: -webkit-linear-gradient(#EBB7DE, #FA2D2D);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;     
	text-shadow: 0 1px 0 rgba(0,0,0,.3);        
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 rgba(0, 0, 0, .7);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 rgba(0, 0, 0, .7);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 1px 0 rgba(0, 0, 0, .7);
}
#event-table .empty {
	position: relative;
	padding: 8px 20px;
	margin: 20px 0 0 0;  
	color: #fff;
	font: bold 14px Arial, Helvetica;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;       
	background-color: #fff;
/*	background-image: -moz-linear-gradient(#EBB7DE, #F5A2C9);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EBB7DE), to(#F5A2C9));    
	background-image: -webkit-linear-gradient(#EBB7DE, #F5A2C9);
	background-image: -o-linear-gradient(#EBB7DE, #F5A2C9);
	background-image: -ms-linear-gradient(#EBB7DE, #F5A2C9);
	background-image: linear-gradient(#EBB7DE, #F5A2C9);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;     
	text-shadow: 0 1px 0 rgba(0,0,0,.3);        
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
} */
/* --------------- */

.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear {
  zoom:1
}
.error {
	color: #ff0000;
	margin: 2%;
	margin-right: auto;
    font-size: 150%;
	width: 50%;
}


	
	