body, html {
    margin:10px;
    margin-top: 40px;
     
}
form {
	width: 80%;
	margin: 15px auto;
}
table{
	margin-left: 20%;
	font-size: 100%;
	
}
.col-sm-10 {
	width: 40%;
}
.help-block{
	margin: 2% auto;
	margin-left: 10%;
	width: 45%;
}